@font-face {
  font-family: 'Josefin';
  src: url(../assets/fonts/josefin/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 350ms
}

body {
  background-image: url(../assets/images/galaxy_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat';
}

.form-container {
  margin: auto;
  color: #7D7F8C;
  display: flex;
  width: 42rem;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 2rem;
  background-color: rgba(35, 38, 51, 0.99);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.s-up {
  width: 45rem;
  padding: 2rem 0 2rem 0;
}

.form-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #E15F70;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container input {
  outline: none;
  background-color: #32364A;
  width: 75%;
  margin: 7px;
  padding: 1rem;
  border: 3px solid #393D52;
  border-radius: 1.7rem;
  font-family: 'Josefin';
  font-size: 1.7rem;
  color: #A9ACB9;
}

.form-container div {
  width: 100%;
  text-align: center;
}

.password-container input {
  margin-left: 2.22rem;
}

.show-container {
  position: relative;
  right: 4rem;
}

.fa-eye {
  font-size: 1.7rem;
  color: #c6c4cf;
  color: #7a797e;
}

.form-container p {
  margin-top: calc(1.5rem - 7px);
  margin-bottom: -0.2rem;
  padding: 1rem 1.9rem 1rem 1.9rem;
  border-radius: 7px;
  font-family: 'Josefin';
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #eeeff5;
  background-color: rgba(179, 35, 35, 0.925);
}

.form-container button {
  width: 42%;
  margin-top: 1.7rem;
  padding: 1rem;
  border: 3px solid #E15F70;
  border-radius: 3rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  color: #E15F70;
  background-color: #e15f7000;
  cursor: pointer;
}

.form-container button:hover {
  background: #E15F70;
  color: white;
}

.cliffhanger {
  margin-left: 2.2rem;
  font-size: 1rem;
  color: #5e647c;
}

.form-container a {
  color: #5e647c;
}

.form-container .success {
  margin-top: 1.7rem;
  margin-bottom: -1.5rem;
  background-color: rgba(25, 141, 25, 0.925);
}

.form-container footer {
  padding-top: 3rem;
  color: #61697aa6;
}
