@font-face {
  font-family: 'Josefin';
  src: url(../assets/fonts/josefin/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 350ms
}

body {
  background-image: url(../assets/images/galaxy_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat';
}

.form-container {
  margin: auto;
  color: #7D7F8C;
  display: flex;
  width: 42rem;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 2rem;
  background-color: rgba(35, 38, 51, 0.99);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.s-up {
  width: 45rem;
  padding: 2rem 0 2rem 0;
}

.form-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #E15F70;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container input {
  outline: none;
  background-color: #32364A;
  width: 75%;
  margin: 7px;
  padding: 1rem;
  border: 3px solid #393D52;
  border-radius: 1.7rem;
  font-family: 'Josefin';
  font-size: 1.7rem;
  color: #A9ACB9;
}

.form-container div {
  width: 100%;
  text-align: center;
}

.password-container input {
  margin-left: 2.22rem;
}

.show-container {
  position: relative;
  right: 4rem;
}

.fa-eye {
  font-size: 1.7rem;
  color: #c6c4cf;
  color: #7a797e;
}

.form-container p {
  margin-top: calc(1.5rem - 7px);
  margin-bottom: -0.2rem;
  padding: 1rem 1.9rem 1rem 1.9rem;
  border-radius: 7px;
  font-family: 'Josefin';
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #eeeff5;
  background-color: rgba(179, 35, 35, 0.925);
}

.form-container button {
  width: 42%;
  margin-top: 1.7rem;
  padding: 1rem;
  border: 3px solid #E15F70;
  border-radius: 3rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  color: #E15F70;
  background-color: #e15f7000;
  cursor: pointer;
}

.form-container button:hover {
  background: #E15F70;
  color: white;
}

.cliffhanger {
  margin-left: 2.2rem;
  font-size: 1rem;
  color: #5e647c;
}

.form-container a {
  color: #5e647c;
}

.form-container .success {
  margin-top: 1.7rem;
  margin-bottom: -1.5rem;
  background-color: rgba(25, 141, 25, 0.925);
}

.form-container footer {
  padding-top: 3rem;
  color: #61697aa6;
}

.chat-window {
  width: 65%;
  height: 85%;
  min-height: 75rem;
  max-height: 78rem;
  max-width: 55rem;
  border-radius: 1rem;
  background-color: #1D1E26;
}

.chat-header {
  border-bottom: 1px solid #6C7486;
  cursor: pointer;
}

.chat-header p {
  color: #E5E5E5;
  margin: 2rem;
  margin-left: 2.8rem;
  font-family: 'Quicksand';
  font-size: 3rem;
}

.chat-body {
  height: 82%;
  max-height: 70rem;
  background-color: #1D1E26;
}

.message-container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

.message {
  display: flex;
  height: auto;
  padding: 5px;
  margin: 0 10px 0 10px;
}

.message-content {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0.7rem;
  max-width: 36rem;
  border-radius: 5px;
  color: #e2e0e0;
  font-size: 1.1rem;
  word-break: break-word;
}

.message-meta {
  display: flex;
  align-items: center;
  font-family: 'Nova', monospace;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  border: 1px solid #5A3B92;
  background-color: rgba(128, 57, 251, 0.192);
}

#you .message-meta {
  justify-content: right;
  margin-right: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: rgba(1, 135, 135, 0.719);
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

.message-meta #sender {
  font-weight: bold;
  color: #d6d3d3;
  font-size: 1rem;
}

.message-meta #time {
  margin-right: 10px;
  margin-left: 10px;
  color: #8f97a8;
  font-size: 0.9rem;
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  margin: auto;
  margin-top: 1.3rem;
  width: 95%;
  border-radius: 5px;
}

.chat-footer input {
  border-radius: 5px;
  height: 100%;
  width: 80%;
  border: 0;
  padding: 1.7rem;
  padding-left: 1.2rem;
  font-size: 1.5rem;
  outline: none;
  font-family: 'DM';
}

.chat-footer button {
  width: 5rem;
  margin-left: 1rem;
  padding: 1.7rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
  background-color: #5D61ED;
  /* background-image: url(../public/assets/images/send.png); */
  cursor: pointer;
  transition: all 500ms;
}

.chat-footer button:hover {
  width: 5.5rem;
  padding: 1.8rem;
  background-color: #3700B3;
}

@media screen and (min-height: 2160px) {
  .join-container {
    max-height: 52rem;
    max-width: 70rem;
    padding: 4rem;
    border-radius: 4rem;
  }

  .join-container h3 {
    margin-bottom: 3rem;
    font-size: 8rem;
  }

  .join-container input {
    margin: 1rem;
    padding: 2rem;
    font-size: 3rem;
  }

  .join-container button {
    margin-top: 2rem;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
  }

  .join-container button:hover {
    padding: 2.5rem;
  }

  .chat-window {
    max-height: 115rem;
    max-width: 84rem;
    border-radius: 1.5rem;
  }

  .chat-header {
    border-bottom: 2px solid #6C7486;
  }

  .chat-header p {
    margin: 3rem;
    margin-left: 3.8rem;
    font-size: 4rem;
  }

  .chat-body {
    height: 84%;
    max-height: 97rem;
  }

  .message-container {
    padding: 1.7rem;
  }

  .message {
    margin: 5px 15px 5px 15px;
  }

  .message-content {
    padding: 1rem;
    max-width: 58rem;
    border-radius: 10px;
    font-size: 2rem;
  }

  #you .message-content {
    border: 2px solid #5A3B92;
  }

  .message-meta #sender {
    font-size: 1.8rem;
  }

  .message-meta #time {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.7rem;
  }

  .chat-footer {
    margin-top: 1.5rem;
  }

  .chat-footer input {
    border-radius: 5px;
    height: 100%;
    width: 80%;
    padding: 2.2rem;
    padding-left: 1.2rem;
    font-size: 2.5rem;
  }

  .chat-footer button {
    width: 7rem;
    margin-left: 1.5rem;
    padding: 2.2rem;
    border-radius: 20px;
  }

  .chat-footer button:hover {
    width: 8rem;
    padding: 2.4rem;
  }
}


@media screen and (max-height: 1080px) {
  .chat-window {
    min-height: 62rem;
    max-height: 70rem;
    max-width: 45rem;
  }

  .chat-header p {
    margin: 1.5rem;
    margin-left: 2.3rem;
    font-size: 2.5rem;
  }

  .chat-body {
    max-height: 60rem;
  }

  .message-container {
    padding: 0.7rem;
  }

  .message {
    margin: 0 9px 0 9px;
  }

  .message-content {
    padding: 0.4rem;
    max-width: 31rem;
    font-size: 1rem;
  }

  .message-meta #sender {
    font-size: 0.9rem;
  }

  .message-meta #time {
    margin-right: 8px;
    margin-left: 8px;
    font-size: 0.8rem;
  }

  .chat-footer {
    margin-top: 1.2rem;
  }

  .chat-footer input {
    padding: 1.6rem;
    padding-left: 1.1rem;
    font-size: 1.4rem;
  }

  .chat-footer button {
    width: 4.8rem;
    margin-left: 0.9rem;
    padding: 1.6rem;
    border-radius: 10px;
    background-size: 45%;
  }

  .chat-window .chat-footer button:hover {
    width: 5.3rem;
    padding: 1.7rem;
  }
}


@media screen and (max-height: 900px) {
  .chat-window {
    min-height: 52rem;
    max-width: 40rem;
  }

  .chat-header p {
    margin: 1.2rem;
    margin-left: 2rem;
    font-size: 2.1rem;
  }

  .chat-body {
    max-height: 50rem;
  }

  .message-container {
    padding: 0.6rem;
  }

  .message {
    margin: 0 8px 0 8px;
  }

  .message-content {
    padding: 0.4rem;
    max-width: 27rem;
    font-size: 0.9rem;
  }

  .message-meta #sender {
    font-size: 0.8rem;
  }

  .message-meta #time {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 0.7rem;
  }

  .chat-footer {
    margin-top: 1rem;
  }

  .chat-footer input {
    padding: 1.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  .chat-footer button {
    width: 4.2rem;
    margin-left: 0.9rem;
    padding: 1.5rem;
  }

  .chat-window .chat-footer button:hover {
    width: 4.7rem;
    padding: 1.6rem;
  }
}

@media screen and (max-height: 768px) {
  .chat-window {
    min-height: 42rem;
    max-width: 36rem;
  }

  .chat-header p {
    margin: 1.1rem;
    margin-left: 1.8rem;
    font-size: 1.9rem;
  }

  .chat-body {
    max-height: 33.8rem;
  }

  .message-container {
    padding: 0.5rem;
  }

  .message {
    margin: 0 7px 0 7px;
  }

  .message-content {
    padding: 0.35rem;
    max-width: 25rem;
    font-size: 0.8rem;
  }

  .message-meta #sender {
    font-size: 0.7rem;
  }

  .message-meta #time {
    margin-right: 6px;
    margin-left: 6px;
    font-size: 0.65rem;
  }

  .chat-footer {
    margin-top: 0.6rem;
  }

  .chat-footer input {
    padding: 1.2rem;
    padding-left: 0.8rem;
    font-size: 1rem;
  }

  .chat-footer button {
    width: 3.8rem;
    margin-left: 0.7rem;
    padding: 1.2rem;
  }

  .chat-window .chat-footer button:hover {
    width: 4.3rem;
    padding: 1.4rem;
  }
}